#head {
	position: relative;
	width: 90%;
	margin-left: 5%;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	background-color: #FFDD55;
	border-bottom: 2px black ridge;
	border-right: 2px black ridge;
}

#history {
	position: absolute;
	width: 25%;
	margin-left: 5%;
}

#information {
	position: relative;
	width: 60%;
	margin-left: 30%;
	margin-bottom: 3em;
}

#main {
	position: relative;
	overflow: visible;
	padding-left: 20px;
	margin-left: 5%;
	width: 90%;
	padding-bottom: 20px;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	position: relative;
	font-size: small;
	margin-left: 2%;
}

th, td {
	border: 2px ridge black;
}

/* 運用一覧 */
tr.saturday { background-color: #99CCFF; }
tr.sunday { background-color: #FF9999; }
tr.special { background-color: #FFFF66; }

.currentpage {
	font-weight: bold;
}

h2 {
	border-left: 10px solid #33CC66;
	border-bottom: 3px double #33CC66;
	padding: 0px 0px 5px 10px;
}

h3 {
	border-left: 10px solid #339966;
	border-bottom: 3px double #339966;
	padding: 0px 0px 5px 10px;
}
