* { 
	margin: 0; padding: 0;
}

body {
	font-family: Hiragino Kaku Gothic ProN W3, Helvetica, sans-serif;
	border-collapse: collapse;
}

table, tr, td { 
	border-collapse: collapse;
	margin: 0px 2px 0px 1px;
	padding: 0px 2px;
}

header h1 a {
	background-color: #CCC;
	border-bottom: 1px solid #666;
	color: #222;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
}

section#formation h1 a {
	background-color: #9966ff;
	border-bottom: 1px solid #666;
	color: #222;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
}

h2 {
	font-size: 17pt;
}

.formation_controlinfo {
	width: 100%;
	height: 3em;
	background-color: #00CC33;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

div.selected_formation {
	background-color: #99FF66;
}


.formation_controlinfo img {
	width: 150px;
	height: 40px;
}

.formation_controlinfo > h2 { 
    margin: 7px 10px;
    float: left;
}
.formation_controlinfo > h2:after {
	clear: left;
}

.trainlist colgroup.base { background-color: #D3D3D3; }
.trainlist colgroup.typedest { background-color: black; }

.trainlist td {
	text-align: center;
	vertical-align: center;
	font-size: 9pt;
	line-height: 11pt
}
.trainlist .type, .trainlist .dest {
	font-size: 15pt; color: white;
	line-height: 17pt
}
.trainlist .roman_dest td {
	font-size: 7pt;
	line-height: 9pt
}
.trainlist .express { color: #33FF33; }
.trainlist .ltdexp { color: red; }
.trainlist .outofservice { color: red; }
.trainlist .oneman { background-color: #006600; color: white; font-stretch: condensed; }

.trainlist span.tenjin { color: yellow; }
.trainlist tr { border-top: 1px solid black; border-bottom: 1px solid black; }
